.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#input{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

body{
  background-color: #333536;
  color: white;
}

.btn{
  background-color: green;
  color: white;
}

.btn:hover{
  background-color: green;
  color: white;
}

